<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.phonegap.plugins.progresshud"
    version="2.0.0">

    <name>InAppPurchase</name>
	
    <engines>
        <engine name="cordova" version=">=2.4.0" />
    </engines>
	
    <js-module src="ProgressHud.js" name="ProgressHud">
        <clobbers target="window.hud" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <!-- Cordova 2.2 -->
        <plugins-plist key="ProgressHud" string="ProgressHud" />
                    
        <!-- Cordova 2.5+ -->
        <config-file target="config.xml" parent="/widget/plugins">
            <feature ="ProgressHud">
            	<param name="ios-package" value="ProgressHud" />
            </feature>
        </config-file>

        <header-file src="src/ios/ProgressHud.h" />
        <source-file src="src/ios/ProgressHud.m" />
    </platform>
</plugin>
